<div class="content" role="main">
    <div class="container">
        <h2>Cidades</h2>
        <div class="row">
          <!-- LISTA DE CIDADES -->
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Cidade</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Sigla</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Santa Helena</td>
                  <td>Goiás</td>
                  <td>GO</td>
                  <td><a>novo ponto</a></td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Santa Helena</td>
                  <td>Goiás</td>
                  <td>GO</td>
                  <td><a>novo ponto</a></td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Santa Helena</td>
                  <td>Goiás</td>
                  <td>GO</td>
                  <td><a>novo ponto</a></td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
