<div class="content" role="main">
    <div class="container">
      <!-- Nova cidade -->
        <h2>Cidades de seus potos turísticos</h2>
        <hr><br>
        <div class="row">
            <div class="col-md-4 offset-xs-12">
                <div class="card card-app" style="width: 18rem;">
                    <img src="../../../assets/imgs/cidade.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Rio de Janeiro - RJ</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Cristo Redentor</li>
                      <li class="list-group-item">Pão de Açúcar</li>
                      <li class="list-group-item">Museu</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 offset-xs-12">
                <div class="card card-app" style="width: 18rem;">
                    <img src="../../../assets/imgs/cidade.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Rio de Janeiro - RJ</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Cristo Redentor</li>
                      <li class="list-group-item">Pão de Açúcar</li>
                      <li class="list-group-item">Museu</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 offset-xs-12">
                <div class="card card-app" style="width: 18rem;">
                    <img src="../../../assets/imgs/cidade.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Rio de Janeiro - RJ</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Cristo Redentor</li>
                      <li class="list-group-item">Pão de Açúcar</li>
                      <li class="list-group-item">Museu</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
