<div class="content" role="main">
    <div class="container">
      <!-- Nova cidade -->
        <h2>Cadastre a Cidade</h2>
        <div class="row">
          <form>
              <div class="row">
                  <div class="col">
                      <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Cidade</label>
                          <input type="text" class="form-control" aria-describedby="emailHelp">
                        </div>
        
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Estado</label>
                          <input type="text" class="form-control">
                        </div>

                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">sigla</label>
                          <input type="text" class="form-control">
                        </div>
                  </div>
                  <div class="col">
                      <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Site</label>
                          <input type="text" class="form-control" aria-describedby="emailHelp">
                        </div>
        
                        <div class="mb-3">
                          <label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                        </div>
                  </div>
              </div>
              <a class="nav-link active" aria-current="page" routerLink="/list-cidades" routerLinkActive="active" style="padding: 0;">
                <button type="submit" class="btn-app">Cadastrar</button>
              </a>              
          </form>
        </div>
    </div>
</div>
