<div class="content container" role="main">
  <div class="container">
    <h2>Sistema de Pontos turísticos</h2>
    <br><br>    
      <div class="row" style="max-height: 50%;">
          <div class="col-md-6 offset-xs-12">
            <p class="text-home">
              O sistema <strong style="color:#1fb7da">AppTurismo</strong> é destinado ao compartilhamento de pontos turisticos, de diversas cidades
              com o intuito de fomentar a prática do turismo no Brasil.
            </p>
            <a class="nav-link active" aria-current="page" routerLink="/list-pontos" routerLinkActive="active" style="padding: 0;">
              <button class="btn-get-started">EXPLORAR</button>
            </a>
          </div>
        <div class="col-md-6 offset-xs-12 content-img-home">
          <img class="img-home" src="../../../assets/pngs/Adventure _Outline.png" width="600" alt="" style="">
        </div>
      </div>
    </div>  
  </div>
