<p>home works!</p>

<div class="content" role="main">

    <!-- Highlight Card -->
  
    <!-- Resources -->
    <h2>Titulo</h2>
    <p>Lorem</p>
  
    <div class="card-container">
      <a class="card" target="_blank" rel="noopener" href="#"> 
  
      </a>
  
    </div>
  
    <!-- Next Steps -->
    <h2>Subtítulo</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aut reiciendis tempora.</p>
  
    <input type="hidden" #selection>
  
    <div class="card-container">
  
      <div class="card card-small" tabindex="0">
  
      </div>
  
    </div>
  
    <!-- Links -->
    <div class="card-container">
  
    </div>
  
    <!-- Footer -->
    <footer>
       
    </footer>
  
  </div>
