/* You can add global styles to this file, and also import other style files */
@import './app/app.component.css';

body{
    
}

html, body{
    min-height: 100%;
    padding: 0px;
    margin: 0px;
    background: #f5fdff;
}